@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600&family=Poppins:ital,wght@0,100;1,200;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;1,200;1,500&display=swap');


:root {
    --font-inter:'Inter', sans-serif;
    --font-dm: 'DM Sans', sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --color-beige: #F0EFE9;
    --color-yellow-botton: #F9D783;
    --color-yellow-team: #EDCF86;
    --color-white: #FFFFFF;
    --color-divider: rgb(255, 255, 255, 20%);
    --color-opacity-white-70: rgb(255, 255, 255, 70%);
    --color-black: #191919;
    --color-gray-border: #707070;
    --color-gray-border-opacity20: rgb(112, 112, 112, 20%);
    --color-orange: rgb(249, 77, 28);
    --color-black-footer: #0E1021;

    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-22: 22px;
    --font-size-45: 45px;
    --font-size-96: 96px;
}
.page-top {
    background-color: var(--color-beige);
    position: relative;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

    .grid-container .middle-grid {

        display: grid;
        grid-template-rows: 1fr 1fr;
    }

        .grid-container .logo {
            display: flex;
            justify-content:flex-start;
            align-items: center;
            
        }

        .grid-container .middle-grid {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }



        .grid-container .middle-grid .middle-grid-item {
            display: flex;
            align-items: center; 
            margin-bottom: 0;
            
        }

            .showcase .grid-item .showcase-top-contact {
                font-size: var(--font-size-15);
                font-weight: var(--font-weight-light);
                font-family: var(--font-inter);
                color: var(--color-black);
                margin-right: 50px;
                margin-bottom: 50px;
                margin-top: 15px;
            }

            .showcase .grid-item .showcase-navigation {
                font-size: var(--font-size-16);
                font-weight: var(--font-weight-medium);
                font-family: var(--font-inter);
                color: var(--color-black);
                margin-right: 32px;
                text-decoration: none;
                transition: all 200ms ease-in-out;
                margin-top: 0;
                margin-bottom: 0;

            }

                .showcase .grid-item .showcase-navigation:hover {
                    text-decoration: underline;

                }

        .showcase .right-showcase {
            display: flex;
            flex-direction: column;
            justify-content:start;
            align-items: end;

        }
        .showcase .grid-item .showcase-media {
            font-size: var(--font-size-18);
            color: var(--color-black);
            margin-bottom: 30px;
            transition: all 200ms ease-in-out;
            margin-top: 15px;
        }

    

            .showcase .grid-item .showcase-media a {
                margin-right: 15px;
                color: var(--color-black);
            }

                .showcase .grid-item .showcase-media a:hover {
                    color: var(--color-yellow-botton);
                }

        .showcase .grid-item .login-button {
            font-size: var(--font-size-16);
            font-weight: var(--font-weight-semibold);
            font-family: var(--font-inter);
            background-color: var(--color-yellow-botton);
            border-radius: 25px;
            height: 50px;
            width: 150px;
            border: none;
            justify-content: center;
            transition: all 200ms ease-in-out;
        }

            .showcase .grid-item .login-button:hover {
                background-color: var(--color-black);
                color: var(--color-yellow-botton);
            }

    
    .connect-showcase {
        display: grid;
        grid-template-rows: 1fr 2fr;
        text-align: center;
        padding-top: 110px;
        padding-bottom: 80px;
    }

        

        .connect-showcase a {
            font-family: var(--font-inter);
            font-size: var(--font-size-16);
            font-weight: var(--font-weight-light);
            text-decoration: none;
            color: var(--color-black);
            padding-right: 10px;
            padding-left: 10px;
        }

            .connect-showcase a:hover{
                text-decoration: underline;
            }

        .connect-showcase h1 {
            font-family: var(--font-dm);
            font-size: 56px;
            font-weight: var(--font-weight-bold);
            text-decoration: none;
            color: var(--color-black);
        }

        .lines-under {
            position: absolute;
            bottom: 0;
            left: 0;
        }

    .contact-section {
        display: flex;
        justify-content: space-between;
        padding-top: 120px;
        padding-bottom: 80px;
    }

        .contact-section .contact-section-box {
            border: 1px solid var(--color-gray-border-opacity20);
            display: flex;
            padding-left: 60px;
            padding-right: 110px;
            padding-top: 45px;
            padding-bottom: 45px;

        }

            .contact-section .contact-section-box button{
                background-color: var(--color-black);
                width: 60px;
                height: 60px;
                border-radius: 50px;
            }

            .contact-section .contact-section-box h3{
                font-family: var(--font-dm);
                font-size: var(--font-size-22);
                font-weight: var(--font-weight-bold);
                margin-left: 20px;
                margin-top: 10px;
            }

            .contact-section .contact-section-box p{
                font-family: var(--font-inter);
                font-size: var(--font-size-18);
                font-weight: var(--font-weight-regular);
                margin-left: 20px;
            }

    .message-section {
        background-color: var(--color-beige);
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

        .message-section .message-section-title-one {
            padding-top: 130px;
        }

        .message-section .message-section-title-two {
            padding-bottom: 20px;
        }

        .message-section h3 {
            font-size: var(--font-size-45);
            font-family: var(--font-dm);
            font-family: var(--font-dm);
            color: var(--color-black);
        }

        .message-section input {
            width: 77%;
            border-radius: 30px;
            border: none;
            padding-left: 40px;
        }

            .message-section input:focus {
                outline: 1px solid orange;
            }

        .message-section .message-input {
            height: 60px;
            margin-bottom: 15px;
        }

        .message-section .message-input-message {
            height: 160px;
            margin-bottom: 45px;
        }


        .message-section .send-message-button {
            font-size: var(--font-size-16);
            font-weight: var(--font-weight-semibold);
            font-family: var(--font-inter);
            background-color: var(--color-yellow-botton);
            border-radius: 25px;
            height: 56px;
            width: 77%;
            border: none;
            justify-content: center;
            transition: all 200ms ease-in-out;
            margin-right: 15px;
            position: relative;
            z-index: 1;
            margin-bottom: 100px;
        }

                .message-section .send-message-button:hover {
                background-color: var(--color-black);
                color: var(--color-yellow-botton);
                }

.map {
    margin-bottom:-6px;
}

    .map iframe {
        width: 100%;
        height: 620px;
        padding-top: 120px;
        padding-bottom: 0;
        margin-bottom: 0;
    }



    .footer {
        background-color: var(--color-black-footer);
    }
    
        .footer .footer-grid {
            display: grid;
            padding-top: 110px;
            grid-template-columns: 1.9fr 1fr 1fr 1fr 1fr;
        }
    
            .footer .footer-grid .grid-footer-one {
                padding-right: 100px;
            }
    
                .footer .footer-grid .grid-footer-one p {
                    color: var(--color-opacity-white-70);
                    font-family: var(--font-inter);
                    font-size: var(--font-size-16);
                }
    
                .footer .footer-grid .grid-footer-one img {
                    padding-bottom: 45px;
                }
    
        .footer .footer-grid .grid-footer-part {
            display: flex;
            flex-direction: column;
            align-items: start;
        }
            
            .footer .footer-grid .grid-footer-part h5 {
                color: var(--color-white);
                font-family: var(--font-dm);
                font-size: var(--font-size-22);
                font-weight: var(--font-weight-bold);
                padding-bottom: 45px;
                padding-top: 10px;
            }
    
            .footer .footer-grid .grid-footer-part a {
                color: var(--color-opacity-white-70);
                font-family: var(--font-inter);
                font-size: var(--font-size-16);
                font-weight: var(--font-weight-medium);
                margin-bottom: 25px;
                text-decoration: none;
                transition: all 200ms ease-in-out;
            }
    
                .footer .footer-grid .grid-footer-part a:hover {
                    color: var(--color-yellow-botton);
                }
    
    
                .footer-container {
                    display: flex;
                    justify-content: flex-end;
                }
                
                
        .footer-border-line {
            border: 1.5px solid var(--color-divider);
            width: 100%;
        }
    
        .lower-footer-container .lower-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
            .lower-footer-container .lower-footer .footer-rights {
                color: var(--color-opacity-white-70);
                font-family: var(--font-inter);
                font-size: var(--font-size-16);
                font-weight: var(--font-weight-regular);
            }
    
            .lower-footer-container .lower-footer .footer-media {
                font-size: var(--font-size-18);
                color: var(--color-white);
                margin-bottom: 30px;
                transition: all 200ms ease-in-out;
                margin-top: 15px;
            }
    
                .lower-footer-container .lower-footer .footer-media a {
                    margin-right: 15px;
                    color: var(--color-white);
                }
    
                    .lower-footer-container .lower-footer .footer-media a:hover {
                        color: var(--color-yellow-botton);
                    }





